<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.felixhertweck.otproxy" level="${OT_LOG_LEVEL:-INFO}" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
