# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea/

# OS
.DS_Store

# Python
__pycache__/
.venv/

# openhands-exporter
openhands_exporter/input
openhands_exporter/output
